ol,
ul {
  margin: 0;
  padding: 0;
}

.advantages-list {
  list-style-type: decimal-leading-zero;
  border-radius: 24px;
  max-width: 335px;
  width: 100%;
  background-color: var(--dark-teal);
  padding: 90px 32px;
  counter-reset: num;
  list-style: none;
  margin-bottom: 20px;
}
.advantages-item {
  box-sizing: content-box;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: var(--almost-white);
  list-style-position: inside;
  counter-increment: num;
}

.advantages-item:not(:last-child) {
  margin-bottom: 40px;
}

.advantages-item-content {
  border-top: 2px solid rgba(251, 251, 251, 0.1);
  margin-top: 18px;
  padding-top: 18px;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--almost-white);
  opacity: 0.8;
  max-width: 238px;
}

.advantages-image {
  width: 335px;
  height: 424px;
  border-radius: 24px;
}

.advantages-item:last-child .advantages-item-text,
.advantages-item:nth-child(3) .advantages-item-text {
  max-width: 292px;
}

.advantages-item::before {
  content: counter(num);
  counter-increment: li;
}

.advantages-item:nth-child(-n + 4)::before {
  content: '0' counter(num);
}

@media (min-width: 768px) {
  .advantages-list {
    min-width: 704px;
    height: 424px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages-item {
    margin: 0;
  }

  .advantages-item-content {
    max-width: 304px;
  }

  .advantages-image {
    min-width: 704px;
  }
}

@media (min-width: 1280px) {
  .container-advantages {
    display: flex;
  }

  .advantages-list {
    min-width: 716px;
    height: 424px;
    display: grid;
    padding: 80px 32px;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages-item {
    margin-left: 18px;
    margin-right: 18px;
  }
  .advantages-image {
    margin-left: 32px;
    min-width: 432px;
    height: 424px;
  }
}
