.footer {
  margin-bottom: -59px;
}

.footer .container {
  padding: 0 10px;
}

.footer-container {
  padding: 40px 30px 20px;
  background-color: var(--dark-teal);
  border-radius: 24px 24px 0 0;
}

.container-logo-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: flex-start;
}

.footer-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.footer-nav-list {
  display: flex;
  gap: 4px;
}

.footer-nav-item {
  max-width: 66px;
  border-radius: 8px;
  background: var(--almost-white-30);
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link:active {
  color: var(--dark-teal);
  background-color: var(--almost-white);
}

.footer-social-list {
  margin: 80px auto 0;
}

.footer-social-list .social-link {
  fill: var(--almost-white);
}

.footer-title {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 277px;
  margin: 0 auto 82px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--almost-white-40);
}

.footer-text-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 374px) {
  .footer-container {
    padding: 40px 10px 20px;
  }
}

/*------------@media-768px-------------*/
@media (min-width: 768px) {
  .footer .container {
    padding: 0 16px;
  }

  .footer-container {
    padding: 50px 48px 20px;
  }

  .container-logo-nav {
    margin-bottom: 96px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-nav-item {
    min-width: 91px;
  }

  .footer-social-list {
    align-items: normal;
    margin: 0;
  }

  .footer-title {
    font-size: 32px;
    max-width: 535px;
    margin: 0 auto 99px;
  }

  .footer-text-container {
    gap: 32px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.18;
  }
}

/*------------@media-1280px-------------*/
@media (min-width: 1280px) {
  .footer {
    margin-bottom: -35px;
  }

  .footer .container {
    padding: 0 25px;
  }

  .footer-container {
    padding: 50px 75px 20px;
  }

  .footer-title {
    max-width: 640px;
  }
}
