.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--almost-white);
  padding: 12px 0;
  border-radius: 8px;
  max-width: 335px;
  z-index: 100;
}

.header-container {
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: var(--dark-teal);
}

.header-toggle-btn {
  position: relative;
  width: 28px;
  height: 28px;
  padding: 0;
  display: block;
  cursor: pointer;
}

.header-toggle-btn-icon {
  position: absolute;
  height: 3px;
  transition: var(--animation);
  z-index: 2;
  width: 21px;
  left: 3.5px;
  background-color: var(--dark-teal);
}

.header-toggle-btn-icon:first-child {
  top: 8px;
}

.header-toggle-btn-icon:last-child {
  bottom: 8px;
}

.header-toggle-btn.is-active .header-toggle-btn-icon:first-child {
  transform: rotate(45deg);
  transform-origin: 0 0;
  left: 8px;
  top: 6px;
}

.header-toggle-btn.is-active .header-toggle-btn-icon:last-child {
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  bottom: 5px;
  left: 8px;
}

.header .social-list,
.header nav {
  display: none;
}

.header .social-icon {
  fill: var(--dark-teal);
  transition: fill var(--animation);
}

.header .social-link:hover .social-icon {
  fill: var(--dark-sea);
}

.mobile-menu {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: var(--dark-navy);
  width: 100vw;
  height: 100vh;
  padding: 62px 20px 40px;
  transform: translateX(105%);
  transition: transform var(--animation);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu .nav {
  margin-top: 201px;
}

.mobile-menu .nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mobile-menu .nav-item {
  text-align: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--almost-white);
  background-color: var(--dark-teal-50);
  padding: 15px 25px;
  transition: background-color var(--animation);
  border-radius: 8px;
}

.nav-link:focus,
.nav-link:hover {
  background-color: var(--dark-teal);
}

.mobile-menu .social-icon {
  fill: var(--almost-white);
}

@media (min-width: 768px) {
  .header {
    top: 32px;
    max-width: 704px;
    padding: 4px 0;
  }

  .header-container {
    padding: 0 28px;
  }

  .header-logo {
    font-size: 20px;
  }

  .mobile-menu,
  .header-toggle-btn {
    display: none;
  }

  .header .social-list {
    display: flex;
  }

  .header nav {
    display: block;
  }

  .header .nav-list {
    display: flex;
    gap: 4px;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1080px;
  }

  .header-container {
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 1240px;
  }
}
