.review {}

.review-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--almost-white);
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.review-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--almost-white);
    opacity: 0.4;
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.review-item {
    background-color: var(--almost-white);
    border-radius: 24px;
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.review-item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--almost-black);
    margin-bottom: 8px;
}

.review-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--almost-black);
    opacity: 0.4;
    max-width: 303px;
}

.review-item-photo {
    margin-bottom: 24px;
}

.review-item-photo {
    border-radius: 72px;
}

.review-item:not(:first-child) {
    display: none;
}

@media (min-width: 768px) {
    .review-title {
        font-size: 48px;
        max-width: 704px;
    }

    .review-subtitle {
        font-size: 14px;
        line-height: 129%;
        max-width: 571px;
    }

    .review-item {
        width: calc((100% - 32px) / 2);
    }

    .review-list {
        display: flex;
        gap: 32px;
    }

    .review-item:nth-child(2n) {
        display: flex;
    }

    .review-text-vic {
        max-width: 296px;
    }
}


@media (min-width: 1280px) {
    .review-title {
        max-width: 854px;
    }

    .review-list {
        gap: 26px;
    }

    .review-item {
        padding: 32px 28px;
        width: calc((100% - 2 * 26px) / 3);
    }

    .review-item:nth-child(2n + 1) {
        display: flex;
    }

    .review-item-description {
        max-width: 320px;
    }

    .review-text-igor {
        max-width: 293px;
    }

    .review-text-vic {
        max-width: 320px;
    }
}


@media (min-width: 1440px) {
    .review-item {
        padding: 32px 36px;
        width: calc((100% - 2 * 32px) / 3);
    }

    .review-list {
        gap: 32px;
    }

}