<section class="advantages section">
  <div class="container container-advantages">
    <h2 hidden>advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p class="advantages-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p class="advantages-item-text">
            Fishing: try to catch your own dinner
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p class="advantages-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p class="advantages-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </div>
      </li>
    </ol>
    <div class="advantages-img">
      <img
        srcset="
          /img/advantages/advantages-img.jpg,
          /img/advantages/advantages-img@2x.jpg,
          2x
        "
        src="/img/advantages/advantages-img.jpg,"
        alt="Photo of the yacht"
      />
    </div>
  </div>
</section>
