<section class="rent section" id="rent">
  <div class="container">
    <div class="rent-section-full">
      <div class="working-part">
        <h2 class="rent-section-title">Rent a yacht now</h2>
        <form class="rent-form">
          <div class="rent-input-fields-container">
            <input
              class="rent-input-fields"
              type="text"
              name="input-name"
              placeholder="Full name"
              pattern="[A-Za-z\s]+"
              required
            />
            <input
              class="rent-input-fields"
              type="email"
              name="input-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <input
              class="rent-input-fields"
              type="tel"
              name="input-tel-number"
              placeholder="Phone number"
              pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
              required
            />
            <textarea
              rows="5"
              class="textarea-field"
              name="textarea-user-comment"
              id="user-comment"
              placeholder="Comment"
              minlength="10"
              required
            ></textarea>
          </div>
          <button class="btn primary-btn send-btn" type="submit">Send</button>
        </form>
      </div>
      <img
        class="rent-img"
        srcset="
          /img/rent-yacht/yacht-img-@1x.jpg,
          /img/rent-yacht/yacht-img-@2x.jpg 2x
        "
        src="/img/rent-yacht/yacht-img-@1x.jpg"
        alt="Photo of the yacht"
      />
    </div>
  </div>
</section>
