<section class="yachts section" id="yachts">
  <div class="container">
    <div class="yachts-container">
      <h2>Choose your dream yacht and sail away into the sunset</h2>
      <ul class="yachts-list yachts-slider">
        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-01-@1x.jpg 1x,
                /img/our-yachts/yacht-img-01-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-01-@1x.jpg"
              alt="yacht arrow"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="Arrow">Arrow</div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">BUILDER</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">48m(155ft)</li>
                  <li class="yachts-value-item">Admiral</li>
                  <li class="yachts-value-item">2021</li>
                  <li class="yachts-value-item">11 in 5 cabins</li>
                  <li class="yachts-value-item">€33,500,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-02-@1x.jpg 1x,
                /img/our-yachts/yacht-img-02-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-02-@1x.jpg"
              alt="yacht BENETTI"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="BENETTI OASIS 40M BO122">
                BENETTI OASIS 40M BO122
              </div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">SHIPYARD</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">41m (133ft)</li>
                  <li class="yachts-value-item">Benetti</li>
                  <li class="yachts-value-item">2025</li>
                  <li class="yachts-value-item">10 in 5 cabins</li>
                  <li class="yachts-value-item">€23,210,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="yachts-list-item">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-03-@1x.jpg 1x,
                /img/our-yachts/yacht-img-03-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-03-@1x.jpg"
              alt="yacht BELLE ANNA"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="BELLE ANNA">BELLE ANNA</div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">SHIPYARD</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">50m(155ft)</li>
                  <li class="yachts-value-item">ISA</li>
                  <li class="yachts-value-item">2012</li>
                  <li class="yachts-value-item">12 in 6 cabins</li>
                  <li class="yachts-value-item">€21,000,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="yachts-list-item not-active">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-06-@1x.jpg 1x,
                /img/our-yachts/yacht-img-06-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-06-@2x.jpg"
              alt="yacht venus"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="Venus">Venus</div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">BUILDER</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">48m(155ft)</li>
                  <li class="yachts-value-item">Admiral</li>
                  <li class="yachts-value-item">2023</li>
                  <li class="yachts-value-item">10 in 5 cabins</li>
                  <li class="yachts-value-item">€34,500,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="yachts-list-item not-active">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-04-@1x.jpg 1x,
                /img/our-yachts/yacht-img-04-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-04-@1x.jpg"
              alt="yacht Mars"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="Mars">Mars</div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">BUILDER</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">41m(133ft)</li>
                  <li class="yachts-value-item">Admin</li>
                  <li class="yachts-value-item">2020</li>
                  <li class="yachts-value-item">11 in 6 cabins</li>
                  <li class="yachts-value-item">€29,300,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="yachts-list-item not-active">
          <div class="yachts-img">
            <img
              srcset="
                /img/our-yachts/yacht-img-05-@1x.jpg 1x,
                /img/our-yachts/yacht-img-05-@2x.jpg 2x
              "
              src="/img/our-yachts/yacht-img-05-@1x.jpg"
              alt="yacht Jupiter"
            />
          </div>
          <div class="yachts-card">
            <div class="yachts-card-header">
              <div class="yachts-card-name" title="Jupiter">Jupiter</div>
              <div class="yachts-card-class">LUXURY YAHTS</div>
            </div>
            <div class="yachts-card-character">
              <div class="yachts-card-testimonial">
                <ul class="yachts-testimonial-list">
                  <li class="yachts-testimonial-item">LENGTH</li>
                  <li class="yachts-testimonial-item">BUILDER</li>
                  <li class="yachts-testimonial-item">BUILT</li>
                  <li class="yachts-testimonial-item">GUESTS</li>
                  <li class="yachts-testimonial-item">PRICE</li>
                </ul>
              </div>
              <div class="yachts-card-value">
                <ul class="yachts-value-list">
                  <li class="yachts-value-item">51m(155ft)</li>
                  <li class="yachts-value-item">Nemo</li>
                  <li class="yachts-value-item">2024</li>
                  <li class="yachts-value-item">9 in 5 cabins</li>
                  <li class="yachts-value-item">€34,100,000</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <a href="#rent" class="btn secondary-btn">Yacht rental</a>
    </div>
  </div>
</section>
